/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  max-height:300px;
  max-width:auto;
}
.container{
  display: flex;
  justify-content:center;
  
}
#text{
  margin:20px 50px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
